<!-- <style type="text/css" media="screen"> -->
<!--       /* #custom-tweet-button { */ -->
<!--       /*   display: block; */ -->
<!--       /*   padding: 30px 10px 10px 30px; */ -->
<!--       /*   background: url('/images/socialMediaIcons/twitter-bird.png') 1px center no-repeat; */ -->
<!--       /*   background-size: 30px 30px; */ -->
<!--       /*   /* border: 0px */ */ -->
<!--       /* } */ -->
<!--       #custom-googleplus-button { -->
<!--         display: block; -->
<!--         padding: 40px 40px 40px 40px; -->
<!--         background: url('/images/socialMediaIcons/google-plus.png') 1px right no-repeat; -->
<!--         background-size: 30px 30px; -->
<!--         /* border: 0px */ -->
<!--       } -->
<!--     #share{ -->
<!--   display:inline-block; -->
<!--  -->
<!--   /*The width and height of your image. Not bigger than the Like button!*/ -->
<!--   width: 10px; -->
<!--   height: 10px; -->
<!--  -->
<!--   /*Your image*/ -->
<!--   background:url('/images/socialMediaIcons/google-plus.png'); -->
<!--     } -->
<!-- </style> -->
<div class="sharing">
  {% if site.twitter_tweet_button %}
<!-- <div id="custom-tweet-button"> -->
  <!-- <a href="http://twitter.com/share?url={{ site.url }}{{ page.url }}"></a> -->
  
  <div class="padding">
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" data-count="none" >Tweet</a>
    </div>
  {% endif %}
  {% if site.google_plus_one %}
<!-- <div id="custom-googleplus-button"> -->
  <!-- <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" ></a> -->
<!-- </div> -->
  <div class="padding">
  <div class="g-plusone" data-annotation="none" data-size="{{ site.google_plus_one_size }}"></div>
 </div>
  {% endif %}
  {% if site.facebook_like %}
  <!-- <a id='share' href="http://www.facebook.com/sharer.php?u=http://bit.ly/myelection"></a> -->
  <div class="padding">
    <div  class="fb-like" data-layout="button-count" data-send="false" data-width="200" data-show-faces="false"></div>
 </div>
  {% endif %}

</div>

