<div class="sharing">
  {% if site.twitter_tweet_button %}
  <div class="padding">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="n1ckler">Tweet</a>
    </div>
  {% endif %}
  {% if site.google_plus_one %}
<!-- <div id="custom-googleplus-button"> -->
  <!-- <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" ></a> -->
<!-- </div> -->
  <div class="padding">
  <div class="g-plusone" data-annotation="none" data-size="{{ site.google_plus_one_size }}"></div>
 </div>
  {% endif %}
  {% if site.facebook_like %}
  <!-- <a id='share' href="http://www.facebook.com/sharer.php?u=http://bit.ly/myelection"></a> -->
  <div class="padding">
    <div  class="fb-like" data-layout="button-count" data-send="false" data-width="200" data-show-faces="false"></div>
 </div>
  {% endif %}

</div>

