// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html {
  background: $page-bg top left;
}

a {
    text-decoration: none;
}

.sharing {
  text-align: right;
  p.meta + & {
    padding: { top: 1em; left: 0; }
    background: $img-border top left repeat-x;
  }

  .padding {
      display: inline;
      padding: { left: 20px;}
    }
}

.entry-content .text-image img {
      width: 350px;
}

.entry-content .text-image {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.entry-content .text-image-big {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
