// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html {
  background: $page-bg top left;
}

.sharing {
  text-align: right;
  p.meta + & {
    padding: { top: 1em; left: 0; }
    background: $img-border top left repeat-x;
  }

  .padding {
      display: inline;
      padding: { left: 20px;}
    }
}
